{% extends 'blog/layout.html' %}

{% block content %}

    <div class="contenedor contenedor-detalle-post">

    {% if post.publicado %}

    
        <i>Publicado: {{ post.publicado }}</i>

    {% else %}

        <a class="boton boton-lista-post detalle-post" href="{% url 'blog:publicar_post' pk=post.pk %}">Publicar</a>
    
    {% endif %}
    
        <a class="boton boton-lista-post detalle-post" href="{% url 'blog:lista_posts' %}">Volver al Blog</a>

    {% if user.is_authenticated %}

        <a href="{% url 'blog:editar_post' pk=post.pk %}" class="boton boton-lista-post detalle-post">Editar</a>
        <a href="{% url 'blog:borrar_post' pk=post.pk %}" class="boton boton-lista-post detalle-post">Borrar</a>
        
        

    {% endif %}
        <div class="contenedor-detalle-post-titulos">
            <h2 class="detalle-post-titulos">{{ post.titulo }}</h2>
            <p class="detalle-post-titulos">{{ post.texto|linebreaksbr}}</p>
        
            
            {% if post.imagen.url is not None %}
                <img src='{{ post.imagen.url }}'>
            {% endif %}

            {% if imagenes is not None %}

                {% for imagen in imagenes %}
                    <img src="{{ imagen.imagenes.url }}">
                {% endfor %}

            {% endif %}
        </div>
        
            
    
    </div>

{% endblock %}