{% extends 'blog/layout.html' %}

{% block content %}

    <div class="contenedor contenedor-detalle-article">
            <div class="contenedor-jodido">
                <div class="publicado">
    {% if post.publicado %}

    
        <i>Publicado: {{ post.publicado }}</i>
    {% endif %}
                </div>
                <div class="muchos-botones">
    {% if not post.publicado %}      
        
        {% if user.is_authenticated %}

        <a class="boton boton-negro" href="{% url 'blog:publicar_post' pk=post.pk %}">Publicar</a>
        
        {% endif %}

    {% endif %}
    
        <a class="boton boton-negro" href="{% url 'blog:lista_posts' %}">Volver al Blog</a>

    {% if user.is_authenticated %}

        <a href="{% url 'blog:editar_post' pk=post.pk %}" class="boton boton-negro">Editar</a>
        <a href="{% url 'blog:borrar_post' pk=post.pk %}" class="boton boton-negro">Borrar</a>
        
        

    {% endif %}
            </div>
</div>

        <div class=" contenedor-article">
            <h2 class="detalle-article-titulos">{{ post.titulo }}</h2>

            {% if post.imagen.url is not None %}
                <img src='{{ post.imagen.url }}'>
            {% endif %}
                <div class="detalle-article-texto">
            <p >{{ post.texto|safe }}</p>
        
            
           

            {% if imagenes is not None %}
        </div>
                {% for imagen in imagenes %}
                    <img src="{{ imagen.imagenes.url }}">
                {% endfor %}

            {% endif %}
        </div>
        
            
    
    </div>

    <!-- agregar Comentarios                 ---------------------------------->
    {% if not user.is_authenticated %}
    <div class="contenedor">
        


        <form method="POST" class="contenedor contenedor-formulario formato-comentarios"  >
            <a href="#comentarios" class="boton boton-negro">Ver {{ comentarios.count }} comentarios</a>
        {% if nuevo_comentario %}
            
            <p>Gracias por escribirme</p>
            
        {% else %}
        <h3>Dejá tu comentario</h3>
            {% csrf_token %}
            <div class="contenedor-comentarios">
                <div class="datos-comentario">
                    
                    <p>Nombre: {{ form.nombre_usuario }}</p>
                    <p>E-mail: {{ form.email }}</p>
                </div>

                <div class="datos-comentario" >
                    <p>Comentarios: {{ form.texto }}</p>
                </div>
                
            </div>
           

            <button type="submit" value="Publicar" class="boton boton-negro">Publicar</button>
        
        </form>

        {% endif %}
    </div>
    {% endif %}
    <!-- Comentarios        Publicados         ---------------------------------->
    
<div class="contenedor">
    <hr class="hr">
    <div class="contenedor-comentarios-article">
        <span id="comentarios"> Comentarios</span>
        {% for comentario in comentarios %}
            <article class="contenido-comentario">
                <p>{{ comentario.texto }}</p>
                <i >Dijo: {{ comentario.nombre_usuario }}:  &NonBreakingSpace; Fecha del comentario: {{ comentario.fecha }}</i>
            </article>
        
        {% endfor %}
    </div>
</div>
{% endblock %}
