{% extends 'blog/layout.html' %}

{% block content %}

    {% if user.is_authenticated %}
    <div class="contenedor-blog-interno">
        <form method="POST" class="contenedor-formulario formulario-editar-post" enctype="multipart/form-data"> 
            {% csrf_token %}


            <!-- PUEDO PONER INPUTS? -->
            
            <p>Título: {{ form.titulo }}</p>
            <p style="max-width: 200px;">Texto: {{ form.texto }}</p>
            <p>Imagen: {{ form.imagen }}</p>
            
          
            <button type="submit" value="Guardar" class="boton boton-lista-post">Guardar</button>
            
            <a href="{% url 'blog:lista_borrador_post' %}" class="boton boton-lista-post">Cancelar</a>
        </form>
        
    </div>
        {% endif %}


{% endblock %}