{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--iconos-->

    <link rel="stylesheet" href="{% static 'index/iconos/fontawesome-free-5.15.1-web/css/all.min.css' %}">

    <!--FONTS-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,100&display=swap" rel="stylesheet">

    <!--styles-->

    <link rel="stylesheet" href="{% static 'index/css/normalize.css' %}">
    
    <link rel="stylesheet" href="{% static 'index/css/styles.css' %}">

    

    <title>Blog Nómade Digital</title>
</head>
<body>
    


    <!-- HEADER--------- -->
    <header>
        
            
        <!-- Este botn es el de login-->
        {% if user.is_authenticated %}
        <p class="bienvenida-loguin">Bienvenido {{ user.username }}, estás logueada/o &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<a href="{% url 'logout' %}" class="boton">Logout</a></p>

        <div class="espacio-secreto">
                  
        {% else %}
        
                <a href="{% url 'login' %}" class="boton espacio-secreto"></a>
        {% endif %}
        </div>
        
        

    <div class="contenido-header">
        
        <div class="imagen-logo">
            <a href="{% url 'index:index' %}"><img src="{% static 'index/img/logo-nomade.png' %}" alt="logo-imagen"></a>
        </div>
        <div class="contenedor-nav">
            <div class="iconos">
                <a href="https://www.behance.com"><i class="fab fa-behance-square"></i></a>
                <a href="https://www.facebook.com"><i class="fas fa-envelope"></i></a>
                <a href="https://www.gmail.com"><i class="fab fa-facebook-square"></i></a>
                <a href="https://www.instagram.com"><i class="fab fa-instagram"></i></a>
            </div>
            <div class="barra">

                <span class="mobile-menu">
                    <i class="fas fa-bars"></i>
                </span>

                <nav class="contenedor-barra contenedor-barra-inactivo " id="stickyMenu">
                    <ul >
                        <li><a href="{% url 'index:servicios' %}">Servicios</a></li>
                        <li><a href="{% url 'recursos:recursos'%}">Recursos</a></li>
                        <li><a href="{% url 'blog:lista_posts'%}">Blog</a></li>  
                        <li><a href="{% url 'index:contacto' %}">Contacto</a></li>
                    </ul>
                    
                    <form action="{% url 'index:busqueda' %}" method="GET">
                        {% csrf_token %}
                        <input type="text" placeholder="  ¿Que buscás?" class="buscador" name="q">
                    </form>

                    <span id="cerrar" class="cerrar">
                        <i class="fas fa-times"></i>
                    </span>
                </nav>



            </div>
        </div>
    </div>

</div>

</header>

    {% block content %}

    {% endblock %}

    <footer>
        <i>Todos los derechos reservados</i>
    </footer>

    <script>
    //MENU HAMBURGUESA FIJO
        
    //VER ELIMINAR PREVENT DEFAULT CON EL LINK RESPONSIVE
    
    const barraAbrir = document.querySelector('.barra span')
const barraCerrar = document.querySelector('#cerrar') 
const barra = document.querySelector('.contenedorBarraInactivo')
const nav = document.querySelector('nav')

//MENU HAMBURGUESA FIJO
        
        //VER ELIMINAR PREVENT DEFAULT CON EL LINK RESPONSIVE
        
        //menu fixed responsive
        window.onscroll = function() {
                let ubicacion = window.pageYOffset;
                if ( ubicacion <= 200) {
                    //   console.log('apagado el boton')
                      activo.classList.remove('activo')
                      barraAbrir.classList.remove('activoResponsive')
                    // activo.classList.add('inactivo')
                    
                } else {
                    //   console.log('prendido el boton')
                    // insertarMenuBtn();
                    
                    barraAbrir.classList.add('activoResponsive')
                     nav.classList.add('activoResponsive')
                     activo.classList.add('activo')

                     
                    }
                    
            }
        //menu fijo pantalla grande
        const activo = document.querySelector('#stickyMenu')

addEventListeners()
function addEventListeners() {
    
    
    //cerrar menu responsive
    barraCerrar.addEventListener('click', (e) => {
        e.preventDefault()
        nav.classList.remove('activoResponsive')
        nav.classList.remove('contenedor-barra-activo')
        nav.classList.add('contenedor-barra-inactivo')
    })
    
    //abrir menu responsive
    barraAbrir.addEventListener('click', (e) => {
        e.preventDefault()
            nav.classList.add('contenedor-barra-activo')
            nav.classList.remove('contenedor-barra-inactivo')
            
            
    })
    
    
}
</script>



</body>

</html>