{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--iconos-->

    <link rel="stylesheet" href="{% static 'index/iconos/fontawesome-free-5.15.1-web/css/all.min.css' %}">

    <!--FONTS-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,100&display=swap" rel="stylesheet">

    <!--styles-->

    <link rel="stylesheet" href="{% static 'index/css/normalize.css' %}">
    
    <link rel="stylesheet" href="{% static 'index/css/styles.css' %}">

    

    <title>Nomade Digital Blog</title>
</head>
<body>
    


    <!-- HEADER--------- -->
    <header>
        
            
        <!-- Este botn es el de login-->
        {% if user.is_authenticated %}
        <p class="bienvenida-loguin">Bienvenido {{ user.username }}, estás logueada/o &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<a href="{% url 'logout' %}" class="boton">Logout</a></p>

        <div class="espacio-secreto">
                  
        {% else %}
        
                <a href="{% url 'login' %}" class="boton espacio-secreto"></a>
        {% endif %}
        </div>
        
        

    <div class="contenido-header">
        
        <div class="imagen-logo">
            <img src="{% static 'index/img/logo-nomade.png' %}" alt="logo-imagen">
        </div>
        <div class="contenedor-nav">
            <div class="iconos">
                <a href=""><i class="fab fa-behance-square"></i></a>
                <a href=""><i class="fas fa-envelope"></i></a>
                <a href=""><i class="fab fa-facebook-square"></i></a>
                <a href=""><i class="fab fa-instagram"></i></a>
            </div>
            <div class="barra">

                <a href="#nav" class="mobile-menu">
                    <i class="fas fa-bars"></i>
                </a>

                <nav class="contenedor-barra" id="nav">
                    <ul>
                        <li><a href="sobremi.html">Sobre mí</a></li>
                        <li><a href="servicios.html">Servicios</a></li>
                        <li><a href="{% url 'recursos:recursos'%}">Recursos</a></li>
                        <li><a href="{% url 'blog:lista_posts'%}">Blog</a></li>  <!--cambié codigo aca-->
                        <li><a href="cursos.html">Cursos</a></li>
                        <li><a href="contacto.html">Contacto</a></li>
                    </ul>

                    <input type="search" placeholder="  ¿Que buscás?" class="buscador">
                    

                    <a href="#" class="cerrar">
                        <i class="fas fa-times"></i>
                    </a>
                </nav>



            </div>
        </div>
    </div>

</div>

</header>
    

    
    

    {% block content %}

    {% endblock %}

    <footer>
        <i>Todos los derechos reservados</i>
    </footer>

</body>

</html>