{% extends 'blog/layout.html' %}

{% block content %}

<body>


    {% if user.is_authenticated %}
    <div class="contenedor contenedor-lista-post">

        <a href="{% url 'blog:nuevo_post' %}" id="Nuevo_post" class="boton boton-lista-post">Nuevo Post</a>
        <a href="{% url 'blog:lista_borrador_post' %}" id="Lista_borrador" class="boton boton-lista-post">Borradores</a>
        
    </div>
    {% endif %}
    <div class="contenedor contenedor-interno">
        <h2>Blog Nomade Digital</h2>

        <p>En esta biblioteca vas a encontrar artículos y recursos gratuitos que te ayudarán a potenciar tu marca en Internet.</p>

    </div>
    
    <main class="contenedor-entradas">
        
        {% for post in posts %}
        
        <article class="contenedor-entrada">
            
            <a href="{% url 'blog:detalle_post' pk=post.pk %}" >
                            
                {% if post.imagen.url is not None %}
                <img src='{{ post.imagen.url }}'>
                {% endif %}
            </a>
            
            <hr>
                        
            <h2>{{ post.titulo }}</h2>

            {% autoescape off %}
            <p>{{ post.texto|truncatewords:15 }}</p>
            {% endautoescape %}

            <a href="{% url 'blog:detalle_post' pk=post.pk %}" class="boton">
                Ver más >>
            </a>
                           
        </article>
            <!--<p><h2><a href='{% url "blog:detalle_post" pk=post.pk %}'>{{ post.titulo }}</a></p>
            <p>{{ post.texto|linebreaksbr|truncatechars:200 }}</p>-->
            
            {% endfor %}
            
            
    </main>
    
    
</body>
{% endblock %}