{% extends 'blog/layout.html' %}

{% block content %}
<div class="contenedor contenedor-lista-borrador">
    <h2><strong>Lista de borradores Blog </strong></h2>

    <a href="{% url 'blog:nuevo_post' %}" class="boton boton-negro">Nuevo Post</a>
    <a href="{% url 'blog:lista_posts' %}" class="boton boton-negro" >Volver al Blog</a>
</div>

<main class="contenedor-blog-interno">

    {% for post in posts %}

        <div class="contenido-blog">

            {% if post.imagen.url is not None %}
                <img src='{{ post.imagen.url }}'>
            {% endif %}


            <p>Creado: {{ post.creado|date:'d-m-y' }}</p>
            <h2>{{ post.titulo }}</h2>
            <p>{{ post.texto|truncatewords:4|safe }}</p>
            <a href="{% url 'blog:editar_post' pk=post.pk %}">Editar</a>


        </div>

        {% endfor %}
</main>



{% endblock %}