{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--iconos-->

    <link rel="stylesheet" href="{% static 'index/iconos/fontawesome-free-5.15.1-web/css/all.min.css' %}">

    <!--FONTS-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap" rel="stylesheet">

    <!--styles-->

    <link rel="stylesheet" href="{% static 'index/css/normalize.css' %}">

    <link rel="stylesheet" href="{% static 'index/css/styles.css' %}">


    <title>Nomade Digital</title>
</head>

<body>
    
    <!-- HEADER--------- -->
    <header>
        
            
                <!-- Este botn es el de login-->
                {% if user.is_authenticated %}
                <p class="bienvenida-loguin">Bienvenido {{ user.username }}, estás logueada/o &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<a href="{% url 'logout' %}" class="boton">Logout</a></p>
      
                <div class="espacio-secreto">
                          
                {% else %}
                
                        <a href="{% url 'login' %}" class="boton espacio-secreto"></a>
                {% endif %}
                </div>
                
                
        
            <div class="contenido-header">
                
                <div class="imagen-logo">
                    <a href="{% url 'index:index' %}"><img src="{% static 'index/img/logo-nomade.png' %}" alt="logo-imagen"></a>
                </div>
                <div class="contenedor-nav">
                    <div class="iconos">
                        <a href="https://www.behance.com"><i class="fab fa-behance-square"></i></a>
                        <a href="https://www.facebook.com"><i class="fas fa-envelope"></i></a>
                        <a href="https://www.gmail.com"><i class="fab fa-facebook-square"></i></a>
                        <a href="https://www.instagram.com"><i class="fab fa-instagram"></i></a>
                    </div>
                    <div class="barra">

                        <span class="mobile-menu">
                            <i class="fas fa-bars"></i>
                        </span>

                        <nav class="contenedor-barra contenedor-barra-inactivo " id="stickyMenu">
                            <ul >
                                <li><a href="sobremi.html">Sobre mí</a></li>
                                <li><a href="servicios.html">Servicios</a></li>
                                <li><a href="{% url 'recursos:recursos'%}">Recursos</a></li>
                                <li><a href="{% url 'blog:lista_posts'%}">Blog</a></li>  <!--cambié codigo aca-->
                                <li><a href="cursos.html">Cursos</a></li>
                                <li><a href="contacto.html">Contacto</a></li>
                            </ul>

                            <input type="search" placeholder="  ¿Que buscás?" class="buscador">
                            

                            <span id="cerrar" class="cerrar">
                                <i class="fas fa-times"></i>
                            </span>
                        </nav>



                    </div>
                </div>
            </div>

        </div>

    </header>

    <!-- PRESENTACION -->

    <section class="presentacion">
        <div class="contenedor contenedor-presentacion">
            <div class="imagen-descargable">
                <img src="{% static 'index/img/boton.png' %}" alt="">
            </div>
            <p>Aprendé todo lo necesario para comenzar a triunfar en tu negocio digital ¡Dejame ayudarte a crecer!</p>
        </div>
    </section>

    <!-- SERVICIOS---- -->

    <main class="servicios">
        <div class="contenedor">
            <h2> Servicios</h2>
            <div class="contenedor-servicios">
                <div class="servicio">
                    <h3>Community <br> Manager</h3>
                    <ul>
                        <li>CREACIÓN DE ESTRATEGIAS</li>
                        <li>PUBLICIDAD PAGA (ADS)</li>
                        <li>CALENDARIO DE CONTENIDOS</li>
                        <li>MODERACIÓN DE MENSAJES Y COMENTARIOS</li>
                        <li>REPORTES</li>
                    </ul>
                </div>
                <div class="servicio">
                    <h3>Identidad <br> Visual</h3>
                    <ul>
                        <li>LOGO</li>
                        <li>IDENTIDAD VISUAL</li>
                        <li>PLANTILLAS PARA POSTEOS</li>
                        <li>OPTIMIZACIÓN DE INSTAGRAM</li>
                    </ul>
                </div>
                <div class="servicio">
                    <h3>Asesorias <br> Personalizadas</h3>
                    <ul>
                        <li>REUNIONES VIRTUALES</li>
                        <li>SEGUIMIENTO</li>
                        <li>CONSULTAS PUNTUALES</li>
                        <li>ANALISIS DE REDES SOCIALES</li>
                    </ul>
                </div>
                <div class="servicio">
                    <h3>Otros <br> servicios
                    </h3>
                    <ul>
                        <li>FILTROS DE INSTAGRAM</li>
                        <li>STICKERS / GIFS</li>
                        <li>TARJETAS PERSONALES</li>
                        <li>FLYERS PROMOCIONALES</li>
                        <li>CARTELERÍA</li>
                        <li>ILUSTRACIONES DIGITALES</li>
                    </ul>
                </div>
            </div>
            <div>
                <a href="#formulario" class="boton">Dejame tus datos y consultá mis servicios</a>
            </div>
        </div>
    </main>

    <!-- RECURSOS-------- -->

    <section class="recursos" id="recursos">
        <div class="contenedor">
            <h2>Recursos</h2>
            <div class="contenedor contenedor-recursos">

                <div class="recurso">
                    <h3>Guia Emprendedora</h3>
                </div>
                <div class="recurso">
                    <h3>E-book como usar instagram</h3>
                </div>
                <div class="recurso">
                    <h3>Prepará tu calendario de contenidos</h3>
                </div>
                <div class="recurso">
                    <h3>Obtené planificación mensual</h3>
                </div>
                <div class="recurso">
                    <h3>E-book estrategias de neuromarketing para vender más</h3>
                </div>
            </div>
            <div>
                <a href="{% url 'recursos:recursos' %}" id="recursos" class="boton">Consultá los recursos que tengo para vos</a>
            </div>
        </div>
        
    </section>

    <section class="carrusel">
        <div class="carousel contenedor">
            <button id="retroceder"><i class="fas fa-arrow-circle-left"></i></button>
            <div id="imagen"></div>
            <button id="avanzar"><i class="fas fa-chevron-circle-right"></i></button>
        </div>

    </section>

    <section class="blog">
        
        <div class="contenedor">
            <div class="entradas-blog">
                <img src="{% static 'index/img/community3.png' %}" alt="">
                <img src="{% static 'index/img/community4.png' %}" alt="">
            </div>
        </div>
    </section>




    {% if mensaje != None %}
    <!-- ESTE TEXTO SE RENDERIZA DESPUES DE HABER ENVIADO LA CONSULTA. FALTA DARLE FORMATO -->
    <div>

        <!-- poner capitalize en css 
        
        ACA ANDA ALGO MAL, NO APARECE EL NOMBRE EN LA PÁGINA, HAY QUE DECIDIR QUE TEXTO SE VAA RENDERIZAR Y DARLE FORMATO
        
        -->
        
        <h1 class="mensaje-aparece">{{ mensaje }} </h1>
        <p>Responderé a la brevedad.</p>
        <p>No olvides revisar tu casilla de Spam.</p>
        <br><br> 


    </div>


    {% else %}
    <section class="formulario" id="formulario">
        <div class="contenedor">

            
            <form action="" class="contenedor-formulario formato-comentarios" method="POST">
                <legend>Contactá conmigo</legend>
                {% csrf_token %}
                <div class="contenedor-comentarios">
                    <div class="datos-comentario">
                        <p>{{ form.nombre }}</p> 
                        <p>{{ form.email }}</p>
                    </div>

                <div class="datos-comentario">
                    <p>{{ form.mensaje }}</p>
                </div>
            </div>

                <!-- <input type="text" placeholder="¿Cómo te llamas?">
                <input type="email" placeholder="¿Cuál es tu e-mail?" required>
                <textarea> Dejame tu consulta</textarea>  -->

                <div class="contenedor-boton-submit">
                    <input type="submit" class="boton">
                </div>
            </form>
        </div>

    </section>
    {% endif %}
    <footer>
        <i>Todos los derechos reservados</i>
    </footer>

    <!-- <script src="js/carrusel.js"></script>
    <script src="{% static 'index/js/carrusel.js' %}"></script> -->
    

    <script>
        const barraAbrir = document.querySelector('.barra span')
const barraCerrar = document.querySelector('#cerrar') 
const barra = document.querySelector('.contenedorBarraInactivo')
const nav = document.querySelector('nav')


addEventListeners()
function addEventListeners() {
    
    
    //cerrar menu responsive
    barraCerrar.addEventListener('click', (e) => {
        e.preventDefault()
        nav.classList.remove('activoResponsive')
        nav.classList.remove('contenedor-barra-activo')
        nav.classList.add('contenedor-barra-inactivo')
    })
    
    //abrir menu responsive
    barraAbrir.addEventListener('click', (e) => {
        e.preventDefault()
            nav.classList.add('contenedor-barra-activo')
            nav.classList.remove('contenedor-barra-inactivo')
            
            
    })
    

    
}
        //MENU HAMBURGUESA FIJO
        
        //VER ELIMINAR PREVENT DEFAULT CON EL LINK RESPONSIVE
        
        //menu fixed responsive
            window.onscroll = function() {
                let ubicacion = window.pageYOffset;
                if ( ubicacion <= 200) {
                    //   console.log('apagado el boton')
                      activo.classList.remove('activo')
                      barraAbrir.classList.remove('activoResponsive')
                    // activo.classList.add('inactivo')
                    
                } else {
                    //   console.log('prendido el boton')
                    // insertarMenuBtn();
                    
                    barraAbrir.classList.add('activoResponsive')
                     nav.classList.add('activoResponsive')
                     activo.classList.add('activo')

                     
                    }
                    
            }
        //menu fijo pantalla grande
        const activo = document.querySelector('#stickyMenu')
        
            // window.onscroll = function() {
            //     let ubicacion = window.pageYOffset;
            //     if ( ubicacion <= 100) {
            //           console.log('apagado el boton')
            //          activo.classList.remove('activo')
            //         // activo.classList.add('inactivo')
                    
            //     } else {
            //           console.log('prendido el boton')
            //         // insertarMenuBtn();
            //          activo.classList.add('activo')
            //     }
            // }

            //menu responsive abrir/cerrar



    
    


            
            // activo.addEventListener('click', () => {
            //     const menuApertura = document.querySelector('div')
            //     let ubicacion = window.pageYOffset;
            //     if(menuApertura.classList.contains('despliegueActivo')) {
            //         console.log('se desactivo el menu')
            //         menuApertura.classList.add('despliegueMenu')
            //         menuApertura.classList.remove('despliegueActivo')
            //     } 
                
            //     else if (menuApertura.classList.contains('despliegueMenu') || ubicacion <= 500){
            //         console.log('se activo el menu')
            //         menuApertura.classList.add('despliegueActivo')
            //         menuApertura.classList.remove('despliegueMenu')
            //     }
            // })
            
            

        

    </script>
</body>

</html>