<div class="contenedor contenedor-lista-borrador">
    <h2><strong>Lista de borradores Recursos </strong></h2>

    <a href="" class="boton boton-lista-post">Nuevo Recurso</a>
    <a href="" class="boton boton-lista-post" >Volver a Recursos</a>
</div>

<main class="contenedor-blog-interno">

    

        <div class="contenido-blog">

            
                <img src=''>
            {% endif %}


            <p>Creado:</p>

            <h2>titulo</h2>

            <p> maximo de letras que aparecen en contenedor</p>
            
            <a href="">Editar</a>


        </div>

</main>



