{% extends 'blog/layout.html' %}

{% block content %}
<body>
    

<div class="contenedor contenedor-detalle-post">
    

    <div class=" contenedor-detalle-post-titulos">

        <h2 class="detalle-post-titulos">{{ recurso.titulo }}</h2>

            {% if recurso.imagen %}
                <img src='{{ recurso.imagen.url }}'>
            {% endif %}

        <p class="detalle-post-titulos">
            {{ recurso.texto|safe }}
        </p>

    </div>

</div>
   
    <div class="contenedor-lista-recursos">
        <h3>Solicita el envío de este recurso por mail</h3>

        <form action="" method="POST" class="formato-comentarios">
            {% csrf_token %}
            
            <p>{{ form.nombre }}</p>
            <p>{{ form.email }}</p>

            <input type="submit" value="Solicitar" class="boton boton-lista-post">
            <a href="{% url 'recursos:recursos' %}" class="boton boton-lista-post" >Volver a Recursos</a>

        </form>
    </div>

    <div class="contenedor contenedor-lista-recursos contenedor-jodido-2">

        {% if user.is_authenticated %}
            <a href="{% url 'recursos:nuevo_recurso' %}" id="Nuevo_post" class="boton boton-lista-post">Agregar nuevo recurso</a>
            <a href="{% url 'recursos:lista_borrador_recursos' %}" id="Lista_borrador" class="boton boton-lista-post">Lista Borrador Recursos</a>
            <a href="{% url 'recursos:editar_recurso' pk=recurso.pk %}" class="boton boton-lista-post">Editar</a>
            <a class="boton boton-lista-post" href="{% url 'recursos:publicar_recurso' pk=recurso.pk %}">Publicar</a>
            <a href="{% url 'recursos:borrar_recurso' pk=recurso.pk %}" class="boton boton-lista-post">Eliminar definitivamente</a> 
        {% endif %}
    </div>
    

</body>

{% endblock %}