

<body>
    
   
    <div class="contenedor-blog-interno">
        <form method="POST" class="contenedor-formulario formulario-editar-post" enctype="multipart/form-data"> 
           


            <!-- PUEDO PONER INPUTS? -->
            
            <p>Título:</p>
            <p>Texto:</p>
            <p>Imagen:</p>
            
          
            <button type="submit" value="Guardar" class="boton boton-lista-post">Guardar</button>
            
            <a href="" class="boton boton-lista-post">Cancelar</a>
        </form>
        
    </div>
       

</body>

