{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- estilos css     -->
    <link rel="stylesheet" href="{% static 'index/css/normalize.css' %}">

    <link rel="stylesheet" href="{% static 'index/css/styles.css' %}">

    <title>Document</title>
</head>
<body>
    <div class="contenedor">
        <h2>Cursos de Marketing Digital y Redes Sociales</h2>

        <p>Unite como muchos alumnos a esta nueva experiencia en auge</p>

        <div class="botones-combo">
            <a href="cursos.html">Ver Cursos</a>
            <a href="combos.html">Ver Combos</a>
        </div>
    </div>

    <div class="contenedor">
        <h2>¿Cómo son los cursos?</h2>

        <div class="texto-iconos-cursos">
            <div class="texto-iconos">
                <ul>
                    <li>
                        <i class="fas fa-tv"></i>
                        <p>Clases 100% online</p>                    
                    </li>
                    <li>
                        <i class="fas fa-lock-open"></i>
                        <p>Acceso para siempre e ilimitado</p>
                    </li>
                    <li>
                        <i class="fas fa-book"></i>
                        <p>Material de apoyo y recursos editables</p>
                    </li>
                </ul>
                <ul>
                    <li>
                        <i class="fas fa-cloud-upload-alt"></i>
                        <p>Actualizaciones constantes</p>
                    </li>
                    <li>
                        <i class="fas fa-video"></i>
                        <p>Lecciones en video-tutoriales y lecturas</p>
                    </li>
                    <li>
                        <i class="fas fa-money-bill-wave-alt"></i>
                        <p>Pago unico en pesos argentinos o dolares</p>
                    </li>
                </ul>
            <div class="texto-iconos">

            </div>
        </div>
    </div>
</body>
</html>