{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- estilos css     -->
    <link rel="stylesheet" href="{% static 'index/css/normalize.css' %}">

    <link rel="stylesheet" href="{% static 'index/css/styles.css' %}">

    <title>Document</title>
</head>
<body>
    <div class="contenedor contenedor-recursos-interna">
        <h2>Recursos Marketing Digital y Blog</h2>

        <p>En esta biblioteca vas a encontrar artículos y recursos gratuitos que te ayudarán a potenciar tu marca en Internet.</p>

    </div>

    <!-- ES EL MISMO CODIGO QUE EL DEL BLOG -->

    <div class="contenedor-blog-interno">
        <div class="contenido-blog">
            
                        <a href="#" >

                            <img src=''>
                            
                        </a>

                            <h2>Aca va el titulo del recurso</h2>
                            <p>Descripcion del recurso</p>
                            <a href="#" class="boton boton-blog">
                                Ver más
                            </a>
                            
                        
                    </div>


    
    </div>
</body>
</html>