{% extends 'blog/layout.html' %}
<!--{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

     estilos css     
    <link rel="stylesheet" href="{% static 'index/css/normalize.css' %}">

    <link rel="stylesheet" href="{% static 'index/css/styles.css' %}">

    <title>Document</title>
</head>
-->


{% block content %}
<body>
    {% if user.is_authenticated %}
    <div class="contenedor contenedor-lista-post">

        <a href="{% url 'recursos:nuevo_recurso' %}" id="Nuevo_post" class="boton boton-lista-post">Agregar nuevo recurso</a>
        <a href="{% url 'recursos:lista_borrador_recursos' %}" id="Lista_borrador" class="boton boton-lista-post">Lista Borrador Recursos</a>
        
    </div>
    {% endif %}

    <div class="contenedor contenedor-recursos-interna">
        <h2>Recursos Marketing Digital y Blog</h2>

        <p>En esta biblioteca vas a encontrar artículos y recursos gratuitos que te ayudarán a potenciar tu marca en Internet.</p>

    </div>

    <!-- ES EL MISMO CODIGO QUE EL DEL BLOG -->

    <div class="contenedor-blog-interno">
        

            {% for recurso in recursos %}
                
                    <div class="contenido-blog">
                    
                        <a href="#" >
                            {% if recurso.imagen %}
                            <img src='{{ recurso.imagen.url }}'>
                            {% endif %}
                        </a>

                            <h2>{{ recurso.titulo }}</h2>
                            <p>{{ recurso.texto|truncatewords:15|safe }}</p>
                            <a href="{% url 'recursos:detalle_recursos' pk=recurso.pk %}" class="boton boton-blog">
                                Ver más
                            </a>
                            
                        
                    </div>
            
            {% endfor %}

            <!-- <div class="contenido-blog contenido-blog-descargable">
                    
                <a href="#" >
                    {% if recurso.imagen %}
                    <img src='{{ recurso.imagen.url }}'>
                    {% endif %}
                </a>

                    <h2>{{ recurso.titulo }}</h2>
                    <p>{{ recurso.texto|truncatewords:15|safe }}</p>
                    <a href="{% url 'recursos:detalle_recursos' pk=recurso.pk %}" class="boton boton-descargable">
                        Ver más
                    </a>
                    
                
            </div> -->

    
    </div>
</body>
{% endblock %}
<!-- </html>-->