{% extends 'blog/layout.html' %}



{% block content %}
    {% if form.errors %}
        <p><script>alert("Contraseña incorrecta. Inténtalo de nuevo");</script></p>
    {% endif %}

    <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
        <table class="contenedor contenedor-formulario table-loguin" >
        <tr>
            <td  class="td-loguin">{{ form.username.label_tag }}</td>
            <td class="td-loguin">{{ form.username }}</td>
        </tr>
        <tr>
            <td class="td-loguin">{{ form.password.label_tag }}</td>
            <td class="td-loguin">{{ form.password }}</td>
        </tr>
        </table>

        <input type="submit" value="login" class="boton" style="display: flex; margin: 20px auto";>
        <input type="hidden" name="next" value="{{ next }}" > 
    </form>
{% endblock %}